@font-face {
    font-family: 'pirata';
    src: url('./font/PirataOne-Regular.ttf');
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: linear-gradient(#0369A1, #0C4A6E);
    padding: 0 1rem;
    height: 30dvh;
    max-width: 100%;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
    width: 100%;
}

.header__logo {
    width: 10rem;
}

.header__title {
    font-size: 6.1rem;
    font-family: 'pirata', Arial, Helvetica;
    color: #FFECB3;
}

.header__psinopsis {
    color: red;
    color: #FFF8E1;
    font-size: 2rem;
}

.main {
    max-width: 100%;
    
    height: auto;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background: linear-gradient(to bottom right, #fffbeb, #fefce8, #fff7ed);
}

.main__box_title,
.events__title {
    font-family: 'pirata', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin-bottom: 4rem;
    max-width: 100%;
    color: #0C4A6E;
    position: relative;
}

.main__box_title::before,
.events__title::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, #f97316, #fbbf24);
    border-radius: 20px;
}

.box__table_thead {
    margin-bottom: 1rem;
    width: 100%;
}

.box__table_thead th {
    max-width: 100%;
    background: linear-gradient(#0369A1, #075985);
    padding: 2rem;
    color: #FFFFFF;
    font-weight: bold;
}

.main__box_table {
    width: 100%;
}

.main__box_table tr td {
    background-color: #FFFFFF;
    padding: 2rem 1rem;
}

.nombre {
    font-weight: bold;
}

.rol {
    color: #374151;
}

.recompensa::before {
    content: '฿';
}

.recompensa {
    color: #EA580C;
    font-weight: 600;
}

.box__events {
    margin-top: 2rem;
}

.events__menu_list {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background: #FFFFFF;
    padding: 2rem;
    border: 1px solid #FFFFFF;
    border-radius: 0 15px 15px 0;
    position: relative;
}

.events__menu_list::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 4px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #f97316, #fbbf24);
}

.events__menu_list p b {
    font-family: 'pirata', Arial, Helvetica;
    font-size: 2rem;
}

.events__menu_list p {
    margin-top: 2px;
}

@media (min-width: 400px) {
    .header {
        padding: 0 4rem;
    }

    .header__logo {
        width: 14rem;
    }

    .header__box {
        gap: 40px;
    }
}